---
title: HTML5 Boilerplate Middleman
---

<div id='banner'>
  <a id='top'></a>
  <div class='centered'>
    <h1>Josh + Justin</h1>
    <h2>We're Getting Married - 10.12.2013</h2>
  </div>
</div>

<div id='waimea'>
  <div class='centered'>
    <a id='us'></a>
    <i class='anchor'>♥</i>

  </div>
</div>

<div id='us'>
  <div class='centered'>
    <div class='josh'>
      <img src="img/josh.jpg" height="375" width="400" />
      <h1>Josh</h1>
      <p>What can I say about Justin and our whirlwind, eleven year long romance? I love him as much as the day I first met him, and yet I keep finding new reasons to cherish him.</p>

      <p>In 2002, when I first laid eyes on Justin, I knew I had found someone special. I was just out of high school and still very awkward, not used to what college had to offer, and I was concerned I wouldn't find someone that suited me -- but the moment I met him I knew I had found a kindred soul. Handsome, intelligent, and incredibly funny, I couldn't believe my luck.</p>

      <p>Back then, us marrying seemed like an impossibility: and to be honest I found the idea rather silly anyway. "Marriage is something for the straight world," I told myself. And anyway the word itself doesn't mean anything, or so it seemed to me. But leaving the legal benefits aside, there's a certain depth of relationship that having a husband communicates. And then, before we knew it, the winds of change blew in amazing new legislation: suddenly gay couples were getting married all over America. And we figured, why not us?</p>

      <p>We weren't first in line to be married, neither of us got down on a knee, and we didn't have an engagement. But that suited us fine -- we knew we were going to be wedded just the same. And finally, after years of waiting, we decided to make our dream a reality. We travelled to New York City and on the night of October 20th 2012, witnessed by our families, we signed into law what we knew already: that we would be together the rest of our lives.</p>

      <p>It's been a year of wedded bliss, and while our marriage has been wonderful, we realized we hadn't yet had the wedding! So we'd like to invite you to Chicago on October 12th, 2013 to celebrate our wedding and our marriage. With our friends and family together, we'll celebrate our union and also have a totally awesome time.</p>
    </div>

    <div class='justin'>
      <img src="img/justin.jpg" height="375" width="400" />
      <h1>Justin</h1>
      <p>It was early 2002. The nation was at the brink of war, and yet in the turmoil two hearts found one another.</p>

      <p>I am very fortunate that Josh came into my life.  We were both young, bright eyed students at the University of Chicago in 2002 who instantly felt a connection over the sort of things teenagers bond over: computers, games, and movies.  At a time when things felt very uncertain, with looming wars overseas and the "culture wars" raging here, we found something that was certain - we were in love.</p>

      <p>As the seasons changed, so did we, cheering the victory of Lawrence v. Texas, bemoaning bitter presidential elections where gay-rights were used to divide the nation, and weathering our first, awkward jobs out of college.  Throughout we had the support of our loving families, who have come to accept their new sons with open arms.  In those early days, the words "I do" felt so impossibly far away, but a lot can change in a decade.  Economies can crumble just as you are ready to buy a home, war can break out less than 50 miles away from where you are staying abroad, and, as sea and temperature levels rise, Chicago starts to seem a nicer and nicer place to stay.  The one thing that hasn't changed is that we are still very much in love.</p>

      <p>When civil-unions suddenly passed in the State of Illinois, we were stunned.  While other couples may have planned romantic proposals with rings and knees, we just looked at each other in our living room and asked, "We're doing this, right?"  We weren't the same people from a decade before, but there was never any doubt what the other would say.  However, with elections looming in November, we weren't sure how long our opportunity would last.  So on October 20th, 2012, in New York City, we signed a marriage license witnessed by our families.  Now, a year later, we'd like our friends to come celebrate eleven years of happiness together in Chicago.  In the coming decades, a lot of things can change, but at least there's one constant: Justin and Josh are in love.</p>
    </div>
    <img src="img/josh_and_justin.jpg" height="395" width="960" />

    <h1 id='plus'>+</h1>

    <i class='final'>♥</i>
  </div>
</div>

<div id='salvatores'>
  <div class='centered'>
    <a id='venue'>
    <i class='anchor'>🔊</i>
  </div>
</div>

<div id='venue'>
  <div class='centered'>
    <h1>Salvatore's</h1>
    <p>Widely acclaimed as a beautiful wedding venue, Justin and Josh selected Salvatore's as their wedding venue for its classic elegance and
      timeless Chicago style.</p>
    <p>Salvatore's is easily accessible from the CTA or by cab. They also have valet parking.</p>

    <p>Salvatore's is located at:
      <blockquote>525 West Arlington Place<br/>Chicago, IL 60614</blockquote>
    </p>

    <iframe width="960" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Salvatore's+Restaurant,+525+West+Arlington+Place,+Chicago,+IL&amp;aq=0&amp;oq=salvatore's&amp;sll=41.833733,-87.731964&amp;sspn=0.840052,1.553192&amp;ie=UTF8&amp;hq=Salvatore's+Restaurant,&amp;hnear=525+W+Arlington+Pl,+Chicago,+Cook,+Illinois+60614&amp;t=m&amp;ll=41.928511,-87.642016&amp;spn=0.006386,0.020578&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>

    <i class='final'>🔊</i>
  </div>
</div>

<div id='indigo'>
  <div class='centered'>
    <a id='reservations'></a>
    <i class='anchor'>✈</i>
  </div>
</div>

<div id='reservations'>
  <div class='centered'>
    <h1>Hotel Indigo</h1>
    <p>Conveniently located in Chicago's Gold Coast, Hotel Indigo is the official hotel for Justin and Josh's wedding.</p>
    <p>If you'd like to book a room and enjoy the group rate Justin and Josh have set up, then please use <a href="http://ichotelsgroup.com/redirect?path=rates&brandCode=IN&GPC=SYM&hotelCode=CHIGC&_PMID=99801505">this link</a> to start the reservation process.</p>

    <p>Hotel Indigo is located at:
      <blockquote>1244 North Dearborn Parkway<br/>Chicago, IL 60610</blockquote>
    </p>

    <iframe width="960" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hotel+Indigo+Chicago,+North+Dearborn+Parkway,+Chicago,+IL&amp;aq=0&amp;oq=hotel+indigo&amp;sll=41.92662,-87.642649&amp;sspn=0.007296,0.013754&amp;ie=UTF8&amp;hq=Hotel+Indigo+Chicago,+North+Dearborn+Parkway,+Chicago,+IL&amp;t=m&amp;ll=41.909527,-87.630386&amp;spn=0.015969,0.041199&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>

    <i class='final'>✈</i>
  </div>
</div>

<div id='wedding'>
  <div class='centered'>
    <a id='rsvp'></a>
    <i class='anchor'>📰</i>
  </div>
</div>

<div id='rsvp'>
  <div class='centered'>
    <h1>RSVP</h1>
      <p>Want to RSVP to the big event immediately? That's easy! Simply fill out this <a href='https://docs.google.com/forms/d/15QBwYrmHykN1Nw7fjKT7WxZ2dO0-c_rjsX3-dXqf4qU/viewform'>form</a>, or click on the image below. Your response will be automatically recorded.</p>
      <a href='https://docs.google.com/forms/d/15QBwYrmHykN1Nw7fjKT7WxZ2dO0-c_rjsX3-dXqf4qU/viewform'><img src='/img/rsvp.jpg' height='357' width='664' /></a>

      <i class='final'>📰</i>
    </div>
  </div>
</div>
